<nav class="navbar bg-light">
  <div class="navbar-brand">Akshay Kumar Rayi</div>

  <div class="nav-links">
    <a class="nav-link <%= page == '/' ? 'active' : '' %>" href="/">Home</a>
    <a class="nav-link <%= page == '/about' ? 'active' : '' %>" href="/about">About</a>
    <a class="nav-link <%= page == '/lego/addSet' ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a>
    <a class="nav-link <%= page == '/lego/sets' ? 'active' : '' %>" href="/lego/sets">Collection</a>
  </div>
</nav>
