<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>About</title>
  <link rel="stylesheet" href="/css/theme.css">
</head>
<body>

<%- include('partials/navbar', {page:'/about'}) %>

<main class="container">
  <h1>About Me</h1>
  <p>This is Akshay. This is my WEB700 assignment 5.</p>
</main>

</body>
</html>
